.work {
    padding: 93px 0 91px 0;
    background: #eeeff1;
    margin-bottom: 28px;
}
.work__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work__title {
    max-width: 540px;
    font-family: "Roboto";
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 34px;
}
.work__text {
    max-width: 540px;
    font-family: "Roboto";
    color: #727272;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 57px;
    p {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.work__video {
    position: relative;
    max-width: 1110px;
    img {
        max-width: 100%;
    }
    a {
        position: absolute;
        display: block;
        transition: opacity 0.2s;
        width: 75px;
        height: 75px;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: url(/images/play.svg) no-repeat;
        background-size: cover;
        z-index: 1;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}

// Media query
@media screen and (min-width: 1280px) {
    .work {
        padding: 100px 0;
        background: #eeeff1;
    }
    .work__title{
        margin-bottom: 50px;
    }
    .work__text{
        margin-bottom: 57px;
    }
}
