.third {
  background: #34547a;
  padding: 75px 0 30px 0;
}
.third__wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 393px;
  margin: 0 auto;
}
.third__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 89px;
  color: #fff;
  &:last-child {
    margin-right: 0;
    p {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  h3{
    font-size: 21px;
    margin-bottom: 10px;
  }
}
.item__img {
  width: 47px;
  margin-right: 20px;
  img{
    max-width: 100%;
  }
}

// Media query
@media screen and (min-width: 1280px) {
  .third__wrap {
    max-width: 100%;
  }
  .third {
    background: #34547a;
    padding: 100px 0 70px 0;
  }
  .third__item{
    margin-bottom: 20px;
    margin-right: 52px;
    &:last-child{
      margin-right: 0;
    }
  }
}
