.first {
    padding-top: 22px;
    background: #eeeff1;
}
.top {
    margin-bottom: 73px;
}
.bottom {
    padding-bottom: 95px;
}
.top__logo {
    max-width: 96px;
    font-family: "Revalia";
    color: #66686b;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
    min-height: 60px;
    img {
        max-width: 100%;
    }
    a {
        display: block;
        text-decoration: none;
        color: #66686b;
        transition: opacity 0.2s;
        &:hover {
            opacity: 0.8;
        }
    }
}
.top__nav {
    display: none;
}
.bottom__image {
    max-width: 274px;
    margin: 0 auto 51px;
    img {
        max-width: 100%;
        display: block;
    }
}
.bottom__info.bottom-info {
}
.nav__list {
}
.bottom-info__title {
    font-family: "Roboto";
    color: #000000;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    font-style: normal;
    margin-bottom: 44px;
}
.bottom-info__text {
    font-family: "Roboto";
    color: #727272;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    font-style: normal;
    margin-bottom: 44px;
}
.bottom-info__button {
}
.nav__item {
}

// Media query
@media screen and (min-width: 1280px) {
    .first{
        padding-top: 57px;
    }
    .bottom {
        display: flex;
        justify-content: center;
    }
    .bottom__image {
        min-width: 357px;
        margin-right: 143px;
    }
    .bottom-info__title {
        text-align: left;
        margin-bottom: 60px;
    }
    .bottom-info__text {
        text-align: left;
        margin-bottom: 60px;
    }
    .bottom-info__button.common-button {
        margin: 0;
    }
    .top__nav {
        display: block;
    }
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__list {
        display: flex;
    }
    .nav__item {
        font-family: "Roboto";
        color: #000;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        font-style: normal;
        margin-right: 42px;
        text-transform: uppercase;
        &:last-child {
            margin-right: 0;
        }
        a {
            color: #000000;
            text-decoration: none;
            transition: color .2s;
            &:hover {
                color: #34547a;
            }
        }
    }
    .bottom__info {
        max-width: 540px;
    }
}
